.filter
  margin: rem(95px) 0 rem(82px)

.filter-results
  &__wrapper
  &__categories
    .categories-row
      display: flex
      flex-wrap: wrap
    .category-item
      width: 25%
      h3
      img

    .subcategories-row

      .subcategories
        display: flex
        flex-wrap: wrap
        &-item
          width: 25%

  &__posts
    display: flex
    flex-wrap: wrap
    .post-item
      width: 25%
