.filter
  margin: rem(95px) 0 rem(82px)
  .filter-bar
    display: flex
    align-items: center
    column-gap: rem(25px)
    .dropdown
      width: 20%
      position: relative

    .dropdown-selected
      display: flex
      align-items: center
      justify-content: space-between
      border: 1px solid $color-black
      border-radius: $radius-lg
      padding: rem(14px) rem(21px) rem(14px) rem(23px)
      cursor: pointer
      span
        font-family: "Bricolage Grotesque", sans-serif
        font-size: rem(15px)
        font-weight: 500
      svg
        width: rem(9.14px)
        height: rem(9.14px)

    .dropdown-menu
      display: none
      position: absolute
      top: 120%
      left: 0
      width: 100%
      border: 1px solid $color-black
      border-radius: $radius-md
      background-color: $color-white
      padding: rem(14px) rem(21px) rem(14px) rem(23px)
      z-index: 1

      .dropdown-list
        display: flex
        flex-direction: column
        row-gap: rem(10px)


    .dropdown-item
      display: flex
      align-items: center
      column-gap: rem(10px)
      font-size: rem(15px)
      input[type="checkbox"]
        appearance: none
        -webkit-appearance: none
        -moz-appearance: none
        width: rem(10px)
        height: rem(10px)
        border: rem(1px) solid $color-black
        border-radius: 50%
        position: relative
        cursor: pointer
        flex-shrink: 0
        &:checked
          background-color: $color-red
          border: 1px solid $color-red

    .button
      padding: rem(14px) rem(33px)
      min-width: unset

.filter-results
  margin-bottom: rem(82.47px)

  &__wrapper
  &__categories
    .categories-row
      display: flex
      flex-wrap: wrap
    .category-item

    .subcategories-row
      margin-top: rem(42px)
      position: relative
      &:not(.hide)
        background-color: $color-secondary-gray
        padding: rem(27px) rem(23px)
        border-radius: $radius-sm
        &:before
          content: ""
          display: block
          width: 66px
          height: 66px
          position: absolute
          top: rem(-20px)
          left: rem(113px)
          background-image: url("data:image/svg+xml,%3Csvg width='66' height='66' viewBox='0 0 66 66' fill='none' xmlns='http%3A//www.w3.org/2000/svg'%3E%3Crect x='-4' y='33' width='51.6569' height='52.3259' rx='10' transform='rotate(-45 -4 33)' fill='%23F6F7F8'/%3E%3C/svg%3E")
          background-size: contain
          background-repeat: no-repeat


      .subcategories
        display: flex
        flex-wrap: wrap
        position: relative
        z-index: 1
        &-item

  &__posts
    margin-top: rem(42px)
    position: relative
    &:not(.hide)
      background-color: $color-secondary-gray
      padding: rem(27px) rem(23px)
      border-radius: $radius-sm
      &:before
        content: ""
        display: block
        width: 66px
        height: 66px
        position: absolute
        top: rem(-20px)
        left: rem(113px)
        background-image: url("data:image/svg+xml,%3Csvg width='66' height='66' viewBox='0 0 66 66' fill='none' xmlns='http%3A//www.w3.org/2000/svg'%3E%3Crect x='-4' y='33' width='51.6569' height='52.3259' rx='10' transform='rotate(-45 -4 33)' fill='%23F6F7F8'/%3E%3C/svg%3E")
        background-size: contain
        background-repeat: no-repeat

    .filter-message
      position: relative
      z-index: 1
    .post-item

  .filter-row
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(220px, 254px))
    gap: rem(18px)
    &.categories-row
      max-width: rem(1074px)
      margin: 0 auto

  .filter-card
    aspect-ratio: 254/249
    border-radius: $radius-md
    overflow: hidden
    position: relative
    cursor: pointer
    img
      width: 100%
      height: 100%
      object-fit: cover

    h6
      position: absolute
      left: rem(22.8px)
      bottom: rem(21.8px)
      color: white