.filter
  margin: rem(95px) 0 rem(82px)
  .filter-bar
    display: flex
    align-items: center
    column-gap: rem(25px)
    .dropdown
      width: 20%
      position: relative

    .dropdown-selected
      display: flex
      align-items: center
      justify-content: space-between
      border: 1px solid $color-black
      border-radius: $radius-lg
      padding: rem(14px) rem(21px) rem(14px) rem(23px)
      cursor: pointer
      +max-screen($breakpoint-md)
        line-height: 1.1818
        padding: rem(11px) rem(18px) rem(10px) rem(22px)
      &:hover 
        border: 2px solid $color-black 
        padding: rem(13px) rem(20px) rem(13px) rem(22px)
        +max-screen($breakpoint-md)
          padding: rem(10px) rem(17px) rem(9px) rem(21px)
      span
        font-family: "Bricolage Grotesque", sans-serif
        font-size: rem(15px)
        font-weight: 500
        +max-screen($breakpoint-md)
          font-size: 11px
        &.choosed
          color: $color-red
      svg
        width: rem(12px)
        height: rem(12px)
        +max-screen($breakpoint-md)
          width: 9px 
          height: 9px 

    .dropdown-menu
      display: none
      position: absolute
      top: 120%
      left: 0
      width: 100%
      border: 1px solid $color-black
      border-radius: $radius-md
      background-color: $color-white
      padding: rem(14px) rem(21px) rem(14px) rem(23px)
      z-index: 5

      .dropdown-list
        display: flex
        flex-direction: column
        row-gap: rem(10px)
        +max-screen($breakpoint-md)
          row-gap: rem(4px)


    .dropdown-item
      display: flex
      align-items: flex-start 
      word-break: break-word
      column-gap: rem(10px)
      font-size: rem(15px)
      +max-screen($breakpoint-md)
        column-gap: rem(4px)
        font-size: rem(11px)
      input[type="checkbox"]
        appearance: none
        -webkit-appearance: none
        -moz-appearance: none
        width: rem(10px)
        height: rem(10px)
        border: rem(1px) solid $color-black
        border-radius: 50%
        position: relative
        cursor: pointer
        flex-shrink: 0
        margin-top: 4px
        +max-screen($breakpoint-md)
          width: rem(6px)
          height: rem(6px)
          margin-top: rem(6px)
        &:checked
          background-color: $color-red
          border: 1px solid $color-red

    .button
      padding: rem(14px) rem(33px)
      min-width: unset

.filter-results
  margin-bottom: rem(82.47px)
  position: relative

  &__wrapper
  &__categories
    .categories-row
    display: flex
    flex-wrap: wrap
    .category-item

    .subcategories-row
      margin-top: rem(42px)
      position: relative
      &:not(.hide)
        background-color: $color-secondary-gray
        padding: rem(27px) rem(23px)
        border-radius: $radius-sm
        width: 100%

      .subcategories
        //display: flex
        //flex-wrap: wrap
        position: relative
        z-index: 1
        &-item

  &__posts
    margin-top: rem(42px)
    position: relative
    &:not(.hide)
      background-color: $color-secondary-gray
      padding: rem(27px) rem(23px)
      border-radius: $radius-sm
      //width: fit-content
      &:before
        //content: ""
        display: block
        width: 66px
        height: 66px
        position: absolute
        top: rem(-20px)
        left: rem(113px)
        background-image: url("data:image/svg+xml,%3Csvg width='66' height='66' viewBox='0 0 66 66' fill='none' xmlns='http%3A//www.w3.org/2000/svg'%3E%3Crect x='-4' y='33' width='51.6569' height='52.3259' rx='10' transform='rotate(-45 -4 33)' fill='%23F6F7F8'/%3E%3C/svg%3E")
        background-size: contain
        background-repeat: no-repeat

    .filter-message
      position: relative
      z-index: 1
    .post-item

  .filter-row
    display: grid
    //grid-template-columns: repeat(auto-fit, minmax(220px, 254px))
    grid-template-columns: repeat(4, minmax(200px, 254px))
    gap: rem(18px)
    width: 100%
    &.categories-row
      //max-width: rem(1074px)
      width: 95.6%
      margin: 0 auto

  .filter-card
    aspect-ratio: 254/249
    position: relative
    cursor: pointer
    z-index: 1
    &__wrapper
      display: block
      width: 100%
      height: 100%
      border-radius: $radius-md
      overflow: hidden
      +max-screen($breakpoint-md)
        border-radius: 13.3px
    &:after
      content: ''
      position: absolute
      top: 0
      left: 0
      background-color: $color-red
      border-radius: $radius-md
      height: 100%
      width: 100%
      z-index: 2
      display: none
      pointer-events: none
      +max-screen($breakpoint-md)
        border-radius: 13.3px

    &.active-card
      &:after
        display: block
      &:before
        content: ""
        display: block
        width: 66px
        height: 66px
        position: absolute
        //top: rem(-20px)
        //bottom: -82px
        bottom: var(--before-bottom, -82px)
        left: 50%
        transform: translateX(-50%)
        background-image: url("data:image/svg+xml,%3Csvg width='66' height='66' viewBox='0 0 66 66' fill='none' xmlns='http%3A//www.w3.org/2000/svg'%3E%3Crect x='-4' y='33' width='51.6569' height='52.3259' rx='10' transform='rotate(-45 -4 33)' fill='%23F6F7F8'/%3E%3C/svg%3E")
        background-size: contain
        background-repeat: no-repeat
      &.subcategory-item
        &:before
          bottom: var(--before-bottom, -109px)

    &.hide-separator
      &:before
        display: none
    +can-hover
      &:hover
        &:after
          display: block

    img
      width: 100%
      height: 100%
      object-fit: cover

    h6
      position: absolute
      left: rem(22.8px)
      bottom: rem(21.8px)
      word-break: break-word
      color: white
      z-index: 3
      padding-right: rem(10px)

  .message
    // position: absolute
    // left: 50%
    // transform: translateX(-50%)
    // top: rem(16px)
    margin: auto
    z-index: 1
  .category-name
    display: none


+max-screen($breakpoint-lg)
  .filter-results
    &__categories
      .subcategories-row
        margin-top: rem(42px)
        position: relative
        &:not(.hide)
          background-color: $color-secondary-gray
          padding: rem(27px) rem(23px)
          border-radius: $radius-sm
          width: 100%

    &__posts
      margin-top: rem(42px)
      position: relative
      &:not(.hide)
        background-color: $color-secondary-gray
        padding: rem(27px) rem(23px)
        border-radius: $radius-sm

    .filter-row
      grid-template-columns: repeat(3, minmax(150px, 1fr))
      gap: rem(18px)
      width: 100%
      &.categories-row
        width: 95.6%
        margin: 0 auto

    .filter-card
      aspect-ratio: 254/249

      &.active-card
        &:after
          display: block
        &:before
          width: 66px
          height: 66px
          bottom: var(--before-bottom, -82px)
        &.subcategory-item
          &:before
            bottom: var(--before-bottom, -109px)

      h6
        left: rem(22.8px)
        bottom: rem(21.8px)
        padding-right: rem(10px)


+max-screen($breakpoint-md)
  .filter
    margin: rem(21px) 0 rem(13px)
    .filter-bar
      flex-direction: column
      row-gap: rem(7px)
      align-items: flex-start
      .button
        //padding: rem(14px) rem(33px)
        min-width: unset
        margin-top: rem(6px)
        padding: rem(10.41px) rem(21.25px)
        font-size: rem(11px)
      .dropdown
        width: 100%
      .dropdown-menu
        top: 114%
        padding: rem(11px) rem(18px) rem(10px) rem(22px)

  .filter-results
    &__categories
      .subcategories-row
        margin-top: rem(42px)
        position: relative
        &:not(.hide)
          background-color: $color-secondary-gray
          padding: rem(49px) 0 0 0
          border-radius: $radius-sm
          width: 100%


    &__posts
      margin-top: rem(42px)
      position: relative
      &:not(.hide)
        background-color: $color-secondary-gray
        padding: rem(49px) rem(10px) rem(10px) !important
        border-radius: $radius-sm
        //padding-top: rem(49px)
        .category-name
          top: rem(14px) !important

    .filter-row
      grid-template-columns: repeat(2, minmax(100px, 1fr))
      gap: rem(18px)
      width: 100%
      padding: rem(10px) rem(10px)
      min-height: rem(50px)

      &.categories-row
        width: 100%
        margin: 0
        padding: 0

      .category-name
        position: absolute
        left: 50%
        top: rem(-27px)
        transform: translateX(-50%)
        width: 80%
        font-family: "Bricolage Grotesque", sans-serif
        font-size: rem(13px)
        color: $color-red
        font-weight: 500
        z-index: 1
        text-align: center
        display: block

    .filter-card
      aspect-ratio: 254/249

      &.active-card
        &:after
          display: block
        &:before
          width: 17px
          height: 17px
          bottom: calc(var(--before-bottom) + 38px)
          left: 37px 
        &.last::before 
          bottom: -51px
        &.subcategory-item
          &:before
            bottom: var(--before-bottom, -99px)
          &.last::before 
            bottom: -61px

      h6
        left: rem(22.8px)
        bottom: rem(21.8px)
        padding-right: rem(10px)


+max-screen($breakpoint-sm)
  .filter
    margin: rem(21px) 0 rem(13px)
    .filter-bar
      flex-direction: column
      row-gap: rem(7px)
      align-items: flex-start
      .button
        //padding: rem(14px) rem(33px)
        min-width: unset
        margin-top: rem(6px)
      .dropdown
        width: 100%
      .dropdown-menu
        top: 114%

  .filter-results
    &__categories
      .subcategories-row
        margin-top: rem(42px)
        position: relative
        &:not(.hide)
          background-color: $color-secondary-gray
          //padding: 0
          border-radius: $radius-sm
          width: 100%

    &__posts
      margin-top: rem(42px)
      position: relative
      &:not(.hide)
        background-color: $color-secondary-gray
        padding: rem(27px) rem(23px)
        border-radius: $radius-sm

    .filter-row
      grid-template-columns: repeat(2, minmax(100px, 1fr))
      gap: rem(12px)
      width: 100%
      padding: rem(10px) rem(10px)
      min-height: rem(50px)
      &.categories-row
        width: 100%
        margin: 0
        padding: 0

    .filter-card
      aspect-ratio: 254/249

      &.active-card
        &:after
          display: block

      h6
        left: rem(15px)
        bottom: rem(15px)
        padding-right: rem(10px)
        font-size: rem(12px)

