.heroMain
  margin-bottom: rem(42px)
  margin-top: rem(9px)
  &__wrapper
    display: grid
    grid-template-columns: repeat(12, 1fr)
    grid-template-rows: repeat(2, auto)
    gap: rem(20.75px)
    //row-gap: rem(26px)
    width: 100%
    margin: 0 auto

  &__leftPart

    &__wrapper
      grid-column: span 6
      grid-row: span 2
      width: 100%
      perspective: 1000px
      aspect-ratio: 825 / 747
      &:hover .heroMain__leftPart__inner
        transform: rotateY(180deg)

    &__link
      display: block
      height: 100%

    &__inner
      width: 100%
      height: 100%
      transition: transform 0.8s
      transform-style: preserve-3d
      position: relative

    &__front, &__backend
      width: 100%
      height: 100%
      position: absolute
      top: 0
      left: 0
      -webkit-backface-visibility: hidden
      backface-visibility: hidden
      border-radius: $radius-md

    &__front
      display: flex
      mask: url('../assets/icons/Union.svg') no-repeat top / contain
      -webkit-mask: url('../assets/icons/Union.svg') no-repeat top / contain
      aspect-ratio: 825 / 747
      width: 100%
      position: relative
      background-color: $color-white

      .heroMain__leftPart__bg
        width: 100%
        height: 100%
        object-fit: cover
        position: absolute
        top: 0
        left: 0

    &__backend
      transform: rotateY(180deg)
      background-color: $color-red
      color: $color-white
      display: flex
      align-items: center
      justify-content: center
      text-align: center
      padding: rem(20px)

      mask: url('../assets/icons/Union.svg') no-repeat top / cover
      -webkit-mask: url('../assets/icons/Union.svg') no-repeat top / cover
      aspect-ratio: 825 / 747
      width: 100%
      .heroMain__leftPart__col:nth-child(1)
        width: 69%
        height: 100%

      .heroMain__leftPart__col:nth-child(2)
        width: 31%

      .heroMain__logo
        display: flex
        align-items: center
        justify-content: center
        background-color: $color-white
        border-radius: $radius-md
        aspect-ratio: 310/107
        width: 54%
        min-height: rem(50px)

      .heroMain__leftPart__description
        padding: 0
        margin-top: rem(30px)
        font-size: rem(20px)
        text-align: left
      img
        max-width: 55%
      .heroMain__leftPart__btn
          position: absolute
          right: rem(20px)
          bottom: 0
          font-size: rem(17px)
          svg
            margin-left: rem(16px)

    &__col:nth-child(1)
      width: 69%
      position: relative
    &__col:nth-child(2)
      width: 31%

    &__logo
      position: absolute
      bottom: rem(20px)
      right: rem(20px)
      z-index: 1
      display: flex
      align-items: center
      justify-content: center
      background-color: $color-white
      border-radius: $radius-md
      aspect-ratio: 310/107
      width: 54% //310/574
      min-height: rem(50px)

      img
        max-width: 55%

    &__description
      padding: rem(20px)
      text-align: center


  &__middlePart
    &__wrapper
      grid-column: span 3

  &__rightPart
    &__wrapper
      grid-column: span 3
    &__front
      position: relative

  .card
    aspect-ratio: 400/374
    perspective: 1000px

    &:hover .card__inner
      transform: rotateY(180deg)

    &__link
      display: block
      height: 100%
      width: 100%
      border-radius: $radius-md
      overflow: hidden
      position: relative

    &__inner
      width: 100%
      height: 100%
      transition: transform 0.8s
      transform-style: preserve-3d
      position: relative
      border-radius: $radius-md

    &__front, &__backend
      width: 100%
      height: 100%
      position: absolute
      -webkit-backface-visibility: hidden
      backface-visibility: hidden
      border-radius: inherit
      overflow: hidden

    &__front
      background-color: $color-white

    &__backend
      transform: rotateY(180deg)
      background-color: $color-red
      color: $color-white
      .card__logo
        position: relative
        bottom: unset
        right: unset
        //margin-top: rem(37px)
        //margin-left: rem(37px)
        +adaptive-value("margin-top", 37, 1, 1)
        +adaptive-value("margin-left", 37, 1, 1)

      .card__description
        margin-top: rem(23.63px)
        padding-inline: rem(33px)
        padding-block: 0
        text-align: left
        font-size: rem(17px)
      .card__btn
        position: absolute
        bottom: rem(21px)
        right: rem(26.25px)
        font-size: rem(15px)
        font-weight: 500
        svg
          margin-left: rem(16px)

    &__bg
      width: 100%
      height: 100%
      object-fit: cover

    &__logo
      position: absolute
      bottom: rem(24px)
      right: rem(27px)
      z-index: 1

      display: flex
      align-items: center
      justify-content: center

      background-color: $color-white
      border-radius: $radius-md
      aspect-ratio: 172/59
      width: 43%
      min-height: rem(40px)

      img
        max-width: 76%

    &__description
      padding: rem(20px)
      text-align: center

  .heroAdvertising
    &__wrapper
      grid-column: span 6
      margin-left: -30%
      aspect-ratio: 1068/348
      position: relative
      border-radius: $radius-md
      overflow: hidden
      &--mobile
        display: none
    &__bg
      height: 100%
      img
        height: 100%
        object-fit: cover
        width: 100%
    &__card
      position: absolute
      //top: rem(53px)
      //left: rem(53px)
      +adaptive-value("top", 53, 1, 1)
      +adaptive-value("left", 53, 1, 1)

      background-color: $color-green
      //padding: rem(37px) rem(45px)
      +adaptive-value("padding-top", 37, 1, 1)
      +adaptive-value("padding-bottom", 37, 1, 1)
      +adaptive-value("padding-left", 45, 1, 1)
      +adaptive-value("padding-right", 45, 1, 1)

      max-width: 36%
      border-radius: $radius-md
      h3
        color: $color-white
        +adaptive-value("font-size", 35, 1, 1)

    &__logo
      position: absolute
      top: rem(27px)
      right: rem(34px)
      max-width: 20%
  &__slider
    display: none

+max-screen($breakpoint-xxl)
  .heroMain
    .card
      &__backend
        .card__logo

        .card__description
          margin-top: rem(16.63px)
          //padding-inline: rem(33px)
          +adaptive-value("padding-inline", 33, 1, 1)
          padding-block: 0
          text-align: left
          font-size: rem(15px)



+max-screen($breakpoint-xl)
  .heroMain
    .card
      &__backend
        .card__logo
            margin-left: rem(10px)
            margin-top: rem(10px)
            width: 35%
            min-height: rem(30px)
        .card__description
          margin-top: rem(10px)
          font-size: rem(14px)
          padding-inline: rem(10px)
        .card__btn
          font-size: rem(14px)
          right: rem(10px)
          bottom: rem(10px)
          svg
            margin-left: rem(8px)

+max-screen($breakpoint-lg)
  .heroMain
    margin-top: 0
    .heroMain__wrapper
      display: none
    &--mobile

      .heroAdvertising
        &__wrapper
          margin-left: 0
          margin-top: rem(17px)
          aspect-ratio: 372/138
          min-height: rem(138px)
          width: 100%
          border-radius: $radius-0
          &--mobile
            display: block
        &__card
          padding: rem(15px) rem(18px)
          //top: rem(21px)
          left: rem(21px)
          top: 50%
          transform: translateY(-50%)
          max-width: 43%
          border-radius: $radius-0
          h3
            font-size: rem(30px)
        &__logo
          max-width: 22%
          top: rem(11px)
          right: rem(21px)
    &__slider
      display: block
      position: relative
      .slick-track
        display: flex !important
      &__wrapper
        margin: 0 rem(-10px)
        .brand
          position: relative
          border-radius: $radius-md
          overflow: hidden
          margin: 0 rem(10px)
          height: inherit !important
          &__logo
            position: absolute
            right: rem(25px)
            bottom: rem(47px)
            border-radius: $radius-1
            background-color: $color-white
            aspect-ratio: 310 / 107
            width: 40%
            display: flex
            justify-content: center
            align-items: center
            img
              width: 70%
              object-fit: contain
          &__bg
            height: 100%
            width: 100%
            img
              height: 100%
              width: 100%
              object-fit: cover
      &__prev,
      &__next
        position: absolute
        top: 50%
        transform: translateY(-50%)
        background: $color-red
        color: $color-white
        width: rem(35px)
        height: rem(35px)
        display: flex
        align-items: center
        justify-content: center
        cursor: pointer
        border-radius: 50%
        z-index: 1
        transition: background-color 0.3s ease
        svg
          height: rem(8.75px)
          width: rem(8.75px)

      &__prev
        left: rem(12px)
      &__next
        right: rem(12px)
        svg
          transform: rotate(180deg)

+max-screen($breakpoint-md)
  .heroMain
    .heroMain__wrapper
    &--mobile
      .heroAdvertising
        &__wrapper
        &__card
          h3
            font-size: rem(22px)

    &__slider

      &__wrapper
        .brand
          aspect-ratio: 374 / 731
          &__logo
            aspect-ratio: 160 / 116
            width: 42.7%
            display: flex
            justify-content: center
            align-items: center
            img
              width: 76.25%
              object-fit: contain

+max-screen($breakpoint-sm)
  .heroMain
    .heroMain__wrapper
    &--mobile
      .heroAdvertising
        &__wrapper
        &__card
          h3
            font-size: rem(14px)

+max-screen($breakpoint-xs)
  .heroMain
    .heroMain__wrapper
    &--mobile
      .heroAdvertising
        &__wrapper
          min-height: rem(148px)
        &__card
          padding: rem(10px) rem(13px)
          left: rem(16px)
          max-width: 47%












