.productText
  margin: rem(48px) 0 rem(74px)
  &__content
    p
      line-height: 1.2
      &:not(:only-child):not(:last-child)
        margin-bottom: rem(30px)

+max-screen($breakpoint-md)
  .productText
    margin: rem(42px) 0 rem(38px)
    &__content
      p
        font-size: rem(14px)
